@{
	Page.Title = "Title goes here";
	//Layout = "Your Layout Page goes here";
	var cid = Request.QueryString["cid"];

	if (string.IsNullOrEmpty(cid))
	{
		Response.Redirect("Exercise02.cshtml");
	}
	var db = Database.Open("ChinookDB");

	var querycommand = "SELECT Name FROM Artists WHERE ArtistId = @0";
	//execution
	//QueryValue: returns a single value
	var categoryname = db.QueryValue(querycommand, cid);

	//using the categoryid passed to this page, retreive the
	//     associated product data
	querycommand = "SELECT AlbumId, Title, ReleaseYear, ReleaseLabel "
					+ "FROM Albums "
					+ "WHERE ArtistId = @0 "
					+ "ORDER BY Title";


	//execution
	//Query() : 0,1 or more rows
	var Name = db.Query(querycommand, cid);

	//WebGrid is a object
	//When you create an instance of WebGrid, you must pass
	//   the data collection on the new command
	//to dicate how many rows per page are shown on the grid
	//   use the argument parameter rowsPerPage
	var gridinstance = new WebGrid(Name, rowsPerPage: 2);

}
@section head{
	
}
<div>
	@section banner{
		<h3>Albums of @categoryname</h3>
		<br /><br />
		, , , 
		FROM Albums

		@gridinstance.GetHtml(
			  tableStyle: "table table-bordered table-striped table-hover",
			  mode: WebGridPagerModes.All,
			  firstText: "Start",
			  lastText: "End",
			  columns: gridinstance.Columns(
				  gridinstance.Column(columnName: "Title", header: "Title", canSort: true),
				  gridinstance.Column(columnName: "AlbumId", header: "AlbumId", canSort: true),
				  gridinstance.Column(columnName: "ReleaseYear", header: "ReleaseYear", canSort: false),
				  gridinstance.Column(columnName: "ReleaseLabel", header: "ReleaseLabel", canSort: false)
						));


	}
	@section footer{

	}
</div>