@{
	Page.Title = "Exercise01";
	Layout = "~/_Layout.cshtml";
}



@section banner
{
	<br /><br />
	<h2>Exercise 01</h2>

}

<div>
	<form id="EX01" method="post">
		<div class="row">
			<div class="col-md-3">
				CustomerName:<input value="0"/>
			</div>
			<div class="col-md-9">
				<label>Choose Your Meal</label>
				<input value="2" />
			</div>
		</div>
	</form>


</div>